@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFBF7; /* Crema perlado */
  --foreground: #2C1E16; /* Café oscuro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a120b;
    --foreground: #FDFBF7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glassmorphism {
    @apply bg-white/70 backdrop-blur-md dark:bg-black/50 border-b border-notaria-gold/20;
  }
}
