@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFBF7; /* Crema perlado */
  --foreground: #4D2323; /* Primary */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D312B; /* Secondary */
    --foreground: #CCC3AB; /* Tertiary */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glassmorphism {
    @apply bg-white/70 backdrop-blur-md dark:bg-black/50 border-b border-tertiary/20;
  }
}
